*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{

    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    align-items: center;
    padding: 0px 16px 0px 16px;
    
}
a{
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.logo{
    width: 50px;
}


ul{
    display: flex;
}

li{
     list-style-type: none;
     padding-left: 24px;
}

header{
    background-color: lightblue;
    display: flex;
    

}

.figureone{}