*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.smile{

    width: 100px;
}

nav{

    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: lightblue;
    height: 70px;
}

header{

    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding:24px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 72px;
}

.subheader{

    font-size: 36px;
    margin: 16px;
}

button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

li{
    padding-left: 24px;
}

a{
    color: black;
    font-weight: bold;

}

#about,
#discord{
    padding: 48px 0;
    background-color: #f8ffdc;
}
h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
    text-decoration: underline;
    
}

.section-desc{

    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0 24px 0 24px;
    font-size: 24px;
    line-height: 1.6em;
}

.about__image--wrapper{
    width:40%;
    padding: 0 24px;
}
img{
    width: 100%;
}

.section__description--wrapper{

    width: 60%;
    padding: 0 24px;
}
.section__description--para{

    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 24px;

}


/*

discord

*/


#Discord{

    background-color: #cefeff;

}
